<nav class="bg-violet-950 flex items-center min-h-16">
   <div class="grow"></div>
   <div class="flex gap-2">
      <button class="rounded-full w-4 h-4 p-3">a</button>
      <button>b</button>
   </div>

   <div class="relative inline-block text-left">
      <div>
        <button (click)="handleClickIdiom()" type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
          {{idiom}}
        </button>
      </div>
      @if (isOpenIdiom) {
       <div class="absolute right-0 z-10 mt-2 w-20 origin-top-right rounded-md bg-white ring-1 shadow-lg ring-black/5 focus:outline-hidden" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
          <div class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-0">{{  "etEspanol" | language }}</div>
          <div class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-1">{{  "etIngles" | language }}</div>
        </div>
      </div>}
    </div>

</nav>
