@for (item of toast.listMessage; track $index) {

<div
  [ngStyle]="{ top: 20 + $index * 60 + 'px' }"
  class="fixed left-1/2 transform -translate-x-1/2 px-4 py-2 rounded shadow-lg transition-opacity duration-300"
>
  <div class="flex items-center gap-1.5 w-80 mt-2 max-w-3xs">
    <div>
      @if (item.type === 'warning') {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 text-yellow-400"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 9v2m0 4h.01M10.29 3.86l-7.79 13.42A1 1 0 003.21 19h17.58a1 1 0 00.87-1.5L13.71 3.86a1 1 0 00-1.71 0z"
        />
      </svg>
      } @else if (item.type === 'error') {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 text-red-500"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 9v2m0 4h.01M10 14h4M10 10h4M10.29 3.86l-7.79 13.42A1 1 0 003.21 19h17.58a1 1 0 00.87-1.5L13.71 3.86a1 1 0 00-1.71 0z"
        />
      </svg>
      } @else {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 text-blue-500"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M18 10A8 8 0 11 2 10a8 8 0 0116 0zM9 9a1 1 0 112 0v4a1 1 0 11-2 0V9zm1-4a1 1 0 100 2 1 1 0 000-2z"
          clip-rule="evenodd"
        />
      </svg>

      }
    </div>
    <p>{{ item.message }}</p>
  </div>
</div>

}
