<div class="flex items-center justify-center min-h-full">
   <div class="w-full sm:min-w-90 md:w-lg shadow rounded-xl"> 
   
     <h1 class="text-center text-3xl py-3 text-myprimary-800">Fasi Admin</h1>
   
   <form class="flex flex-col p-4 w-full gap-4" [formGroup]="formRecovery" (submit)="recovery()">
     
     <div>
       <input
         formControlName="email"
         placeholder="{{ 'etCorreo' | language }}"
         class="block w-full px-3 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-myprimary-700 focus:border-myprimary-700"
       />
     </div>
 
     <button
       class="bg-myprimary-800 hover:bg-myprimary-700 text-white font-bold py-2 px-4 rounded"
       type="submit"
     >
       {{ "etRecuperaContrasena" | language }}
     </button>
 
     <a class="cursor-pointer text-center text-myprimary-800" routerLink="/login" >{{ "etRegresar" | language }}</a>
 
   </form>
 </div>
 </div>
 
