<div class="flex items-center justify-center min-h-full">
  <div class="w-full sm:min-w-90 md:w-lg shadow rounded-xl"> 
  
    <div class="flex justify-end pr-4">
      <app-select-idiom></app-select-idiom>
    </div>

    <h1 class="text-center text-3xl py-3 text-myprimary-800">Fasi Admin</h1>
  
  <form class="flex flex-col p-4 w-full gap-4" [formGroup]="formLogin" (submit)="login()">
    
    <div>
      <input
        formControlName="email"
        placeholder="{{ 'etCorreo' | language }}"
        class="block w-full px-3 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-myprimary-700 focus:border-myprimary-700"
      />
    </div>

    <div>
      <input
        autocomplete="off"
        formControlName="password"
        type="password"
        maxlength="6"
        placeholder="{{ 'etContrasena' | language }}"
        class="block w-full px-3 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-myprimary-700 focus:border-myprimary-700"
      />
    </div>

    <button
      class="bg-myprimary-800 hover:bg-myprimary-700 text-white font-bold py-2 px-4 rounded"
      type="submit"
    >
      {{ "etIniciarSesion" | language }}
    </button>

    <a class="cursor-pointer text-center text-myprimary-800" routerLink="/recovery" >{{ "etRecuperaContrasena" | language }}</a>

  </form>
</div>
</div>
